<!DOCTYPE html >

{% load static %} <!-- New line -->

<html>

    <head>
        <title>Rango</title>
	<link rel="stylesheet" href="{% static "css/base.css" %}" />  <! -- css -->
	<script src="{%static "js/jquery.js"%}"> </script>   <! -- java script -- >
    <head>

    <body>
        <h1>Rango says....hello world! </h1>
	<div>
	<div>        
	{%if categories%}
	    <ul>
		{% for category in categories %}
                <li><a href="category/{{ category.url }}">{{ category.name }}</a></li>
 		{% endfor%}
	    </ul>
	{% else %}
	    <strong> There is no categories present. </strong>

	{% endif%}
	</div>
	</div>
	{%if pages%}
	    <ul>
		{% for page in pages %}
                <li>{{ page.title }} ({{page.views}})</li>
 		{% endfor%}
	    </ul>
	{% else %}
	    <strong> There is no pageses present. </strong>

	{% endif%}
	</div>
	</div>

        <a href="/rango/about">About</a><br />
	<img src="{% static "rango.jpg" %}" alt="Picture of Rango" /> <!-- New line -->
	<a href="/rango/add_category/">Add a New Category</a>
    </body>

</html> 
